<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
create
<div>
    title : <input type="text" id="input_title"/> <br/>
    content : <input type="text" id="input_content"/> <br/>
    author : <input type="text" id="input_author"/> <br/>
    <button onclick="createBoard()">작성하기!</button>
</div>

<script>
    function createBoard(){
        let _data = {
            title : $("#input_title").val(),
            content : $("#input_content").val(),
            author : $("#input_author").val()
        };
        $.ajax({
            url: "/api/board",
            method: "POST",
            contentType : 'application/json; charset=utf-8',
            data: JSON.stringify(_data),
            success: (data, status, xhr)=>{
                alert(JSON.stringify(data));
                //$("#p_result").html(result);
            },
            error: (data, status, xhr)=>{
                alert(JSON.stringify(data));
            },
        });
    }
</script>
</body>
</html>