<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>

Notice Create!! <br/>

Title
<input type="text" id="create_notice_title"/> <br/>
Content
<input type="text" id="create_notice_content"/> <br/>
Author
<input type="text" id="create_notice_author"/> <br/>

<button onclick="createNotice()">Submit</button>

<script>
    function createNotice(){
        $.ajax({
            url: "/api/notice/create",
            method: "GET",
            data:{
                title : $("#create_notice_title").val(),
                content : $("#create_notice_content").val(),
                author : $("#create_notice_author").val()
            },
            success: (data, status, xhr)=>{
                alert(JSON.stringify(data));
                if(data === 200){
                    alert("Success!!");
                } else {
                    alert("Failed!!")
                }
            },
            error: (data, status, xhr)=>{
                alert(JSON.stringify(data));
            },
        });
    }
</script>

</body>
</html>