<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
detail
<div>
    order : <input type="number" id="input_order"/> <br/>
    <button onclick="detailPost()">상세 보기!</button>
    <br/>
    <br/>
    <input type="text" id="detail_post_title" /> <br/>
    <input type="text" id="detail_post_content" /> <br/>

    <button onclick="updatePost()">수정하기</button>
    <button onclick="deletePost()">삭제하기</button>
</div>

<script>
    function deletePost(){
        $.ajax({
            url: "/api/post/delete",
            method: "GET",
            data:{
                order : $("#input_order").val()
            },
            success: (data, status, xhr)=>{
                alert(JSON.stringify(data));
            },
            error: (data, status, xhr)=>{
                alert(JSON.stringify(data));
            },
        });
    }
    function updatePost(){
        $.ajax({
            url: "/api/post/update/" + $("#input_order").val(),
            method: "GET",
            data:{
                title : $("#detail_post_title").val()
                , content : $("#detail_post_content").val()
            },
            success: (data, status, xhr)=>{
                alert(JSON.stringify(data));
            },
            error: (data, status, xhr)=>{
                alert(JSON.stringify(data));
            },
        });
    }
    function detailPost(){
        $.ajax({
            url: "/api/post/detail/" + $("#input_order").val(),
            method: "GET",
            data:{},
            success: (data, status, xhr)=>{
                alert(JSON.stringify(data));

                let post = data["data"];
                $("#detail_post_title").val(post["title"]);
                let content = post["content"];
                $("#detail_post_content").val(content);
                //$("#p_result").html(result);
            },
            error: (data, status, xhr)=>{
                alert(JSON.stringify(data));
            },
        });
    }
</script>
</body>
</html>