<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
create
<div>
    username : <input type="text" id="input_user_username" class="input_create"/> <br/>
    password : <input type="password" id="input_user_password" class="input_create"/> <br/>
    name : <input type="text" id="input_user_name" class="input_create"/> <br/>
    nick : <input type="text" id="input_user_nick" class="input_create"/> <br/>
    phone : <input type="text" id="input_user_phone" class="input_create"/> <br/>
    <button onclick="createUser()">회원 가입!</button>
</div>

<script>
    function createUser(){
        let _data = {};
        let input_create = $(".input_create");
        for(let each of input_create){
            let tempId = $(each).attr("id");
            tempId = tempId.replace("input_user_", "");
            _data[tempId] = $(each).val();
        }
        $.ajax({
            url: "/api/user/signup",
            method: "POST",
            contentType : 'application/json; charset=utf-8',
            data: JSON.stringify(_data),
            success: (data, status, xhr)=>{
                alert(JSON.stringify(data));
                //$("#p_result").html(result);
            },
            error: (data, status, xhr)=>{
                alert(JSON.stringify(data));
            },
        });
    }
</script>
</body>
</html>